body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Franklin Gothic Medium;
    background-color: #8a817c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_page {
    width: 280px;
    height: 280px;
    background: #BCB8B1;
    padding: 30px;
    margin: 5% auto 0;
    text-align: center;
    box-shadow: 11px 11px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 18px 18px 18px 18px;
}

.type_text1 {
    padding: 8px;
    width: 200px;
    margin: 8px;
    border-radius: 18px 18px 18px 18px;
}

.type_text2 {
    padding: 8px;
    width: 200px;
    margin: 0;
    border-radius: 18px 18px 18px 18px;
}

.submit_button {
    width: 55%;
    padding: 5px;
    margin: 60px 0;
    font-size: 18px;
    border-radius: 18px 18px 18px 18px;
}